name: E2E Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9.9.0 # temporary fix for Nx Cloud PNPM version detection
          run_install: false

      - run: pnpm dlx nx-cloud start-ci-run --distribute-on="5 linux-medium-js" --stop-agents-after="e2e-ci"

      - name: Install dependencies
        run: pnpm install
      - name: Install Playwright Browsers
        run: pnpm --filter "@tasker/e2e-web" exec playwright install --with-deps
      - name: Run Checks/Lint/Build
        run: |
          pnpm format:check
          pnpm lint
          pnpm exec nx run-many -t test build e2e-ci
      # - name: Run Playwright tests
      #   run: pnpm --filter "@tasker/e2e-web" e2e
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: e2e/web/playwright-report/
          retention-days: 30
